<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="python" arguments="services/api/main.py" stdoutLogEnabled="true" stdoutLogFile="\\?\%home%\LogFiles\stdout" startupTimeLimit="60" requestTimeout="00:05:00">
      <environmentVariables>
        <environmentVariable name="COSMOS_URI" value="https://neunet-cosmos-db.documents.azure.com:443/" />
        <environmentVariable name="COSMOS_KEY" value="hOlaV01rPLnOxzZf8LEbDUrs8osGbeG0R8xe3iuypkUHY5QIGsHq30eJtrrzNHmLTAM4p1nndfk8ACDbVoB1WQ==" />
        <environmentVariable name="DATABASE_NAME" value="CandidateInfoDB" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
